@model QUANLY_KHACHSAN.ViewModels.PaginatedList<Loaiphong>
@{
    ViewData["Title"] = "Danh sách loại phòng";
    Layout = "_ManagerLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="path/to/font-awesome/css/all.min.css" />
<style>
    .table-bordered {
        border: 2px solid black; /* Viền bảng màu đen */
    }

        .table-bordered th, .table-bordered td {
            border: 1px solid black; /* Viền ô màu đen */
        }
</style>
<div class="text-center">
    <h2 class="display-4" style="color:red;">QUẢN LÝ LOẠI PHÒNG</h2>
</div>

<div style="display: flex; justify-content: space-between; align-items: center ;width:100%">
    <form id="searchForm" asp-controller="Setting" asp-action="RoomType" method="get" class="d-flex">
        <div class="input-group">
            <!-- Search bar -->
            <input name="searchString" id="searchString" type="search" placeholder="Tìm loại phòng..." class="form-control rounded" aria-label="Search" value="@ViewData["CurrentFilter"]">
            <button class="btn btn-info rounded" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <!-- Link for creating a new room -->
    <a asp-action="CreateRoomType" class="btn btn-primary mb-3 rounded">Tạo loại phòng mới</a>
</div>
<div>
</div>
<table class="table table-striped table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                <a asp-action="RoomType" asp-route-sortOrder="@(ViewData["MaSortParam"]?.ToString())" asp-route-sortColumn="Maloaiphong" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]">Mã <i class="fas fa-sort"></i></a>
            </th>
            <th>
                <a asp-action="RoomType" asp-route-sortOrder="@(ViewData["TenSortParam"]?.ToString())" asp-route-sortColumn="Tenloai" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]">Tên Loại Phòng <i class="fas fa-sort"></i></a>
            </th>
            <th>
                <a asp-action="RoomType" asp-route-sortOrder="@(ViewData["DongiaSortParam"])" asp-route-sortColumn="Dongia" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]">Đơn Giá <i class="fas fa-sort"></i></a>
            </th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model.Items)
        {
            <tr>
                <td>@room.Maloaiphong</td>
                <td>@room.Tenloai</td>
                <td>@room.Dongia VND</td>
                <td>
                    <a asp-action="UpdateRoomType" asp-route-roomtypeid="@room.Maloaiphong" class="btn btn-info btn-sm rounded">Cập nhật</a>
                    <form asp-action="DeleteRoomType" asp-route-roomtypeid="@room.Maloaiphong" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm rounded">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12 text-center">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link text-black" asp-route-pageNumber="1"
                       asp-route-SortOrder="@ViewData["SortOrder"]"
                       asp-route-sortColumn="@ViewData["sortColumn"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-currentFilter2="@ViewData["CurrentFilter2"]">
                        <span>Đầu</span>
                    </a>
                </li>
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-SortOrder="@ViewData["SortOrder"]"
                       asp-route-sortColumn="@ViewData["sortColumn"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>

                @if (Model.TotalPages <= 5)
                {
                    for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                            <a class="page-link text-black" asp-route-pageNumber="@i"
                               asp-route-SortOrder="@ViewData["SortOrder"]"
                               asp-route-sortColumn="@ViewData["sortColumn"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                        </li>
                    }
                }
                else
                {
                    @if (Model.PageIndex <= 3)
                    {
                        for (int i = 1; i <= 5; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a class="page-link text-black" asp-route-pageNumber="@i"
                                   asp-route-SortOrder="@ViewData["SortOrder"]"
                                   asp-route-sortColumn="@ViewData["sortColumn"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                            </li>
                        }
                    }
                    else if (Model.PageIndex >= Model.TotalPages - 2)
                    {
                        for (int i = Model.TotalPages - 4; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a class="page-link text-black" asp-route-pageNumber="@i"
                                   asp-route-SortOrder="@ViewData["SortOrder"]"
                                   asp-route-sortColumn="@ViewData["sortColumn"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                            </li>
                        }
                    }
                    else
                    {
                        for (int i = Model.PageIndex - 2; i <= Model.PageIndex + 2; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a class="page-link text-black" asp-route-pageNumber="@i"
                                   asp-route-SortOrder="@ViewData["SortOrder"]"
                                   asp-route-sortColumn="@ViewData["sortColumn"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                            </li>
                        }
                    }
                }

                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-SortOrder="@ViewData["SortOrder"]"
                       asp-route-sortColumn="@ViewData["sortColumn"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
                <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link text-black" asp-route-pageNumber="@Model.TotalPages"
                       asp-route-SortOrder="@ViewData["SortOrder"]"
                       asp-route-sortColumn="@ViewData["sortColumn"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        <span>Cuối</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>




